* {
    padding: 3px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: flex;
}

.intro-name {
    text-align: center;
}

.intro-name h1 {
    font-size: 40px;
}

.intro-name h2 {
    text-align: left;
}

.intro {
    text-align: left;
    border: 5px solid;
    background-color: #7569ad;
}

body {
    background-color: rgb(178, 178, 226);
}

.mywork {
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mywork div {
    border: 5px solid;
    background-color: #7569ad;
}

.project1 {
    text-align: center;
    display: left;
    width: 300px;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 10px 5px #646262;
}

.project2 {
    text-align: center;
    display: right;
    width: 300px;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 10px 5px #646262;
}

.project3 {
    text-align: center;
    display: left;
    width: 300px;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 10px 5px #646262;
}

.project4 {
    text-align: center;
    display: right;
    width: 300px;
    padding: 5px;
    margin: 5px;
    box-shadow: 10px 10px 5px #646262;
}

.contact-info div {
    border: 5px solid;
    background-color: #7569ad;

}

.contact-info div {
    text-align: center;
    float: center;
}